"*":
  editor:
    showInvisibles: true
    tabLength: 8
    invisibles: {}
    fontSize: 17
  "exception-reporting":
    userId: "8f21911d-2ee5-703b-f06e-baf8e3017e82"
  welcome:
    showOnStartup: false
  metrics:
    userId: "2b8d964846053db77b68f8495fd5ad006a0a481b"
  core:
    disabledPackages: [
      "symbols-view"
    ]
  "tree-view": {}
  minimap:
    plugins:
      "minimap-autohide": true
